@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

/* Basics */

    * {
        box-sizing: border-box;
    }

/* Text */

    p {
        font-family: "Trebuchet MS";
        letter-spacing: 0.1em;
        font-weight: 300;
        font-size: 15pt;
        line-height: 2em;
        text-align: justify;   
    }

    h1 {
        font-family: "Trebuchet MS";
        letter-spacing: 0.2em;
        font-weight: 700;
        font-size: 20pt;
        line-height: 1.3em;
        text-align: center;
        text-transform: uppercase;
        color: #296385;
    }

    h2 {
        font-family: "Trebuchet MS";
        font-size: 22px;
        color: #296385;
        letter-spacing: 0.1em;
        text-align: center;
        font-weight: 700;
        margin-top: 1.5em;
        margin-bottom: 4em;
    }

    h3 {
        font-size: 22px;
        color: #296385;
        letter-spacing: 0.1em;
        font-weight: 700;
        margin-bottom: -0.9em;
    }

/* Container */

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-around; 
    }

    .container > div {
        margin: 10px;
        width: 90%;
        font-family: "Trebuchet MS";
        letter-spacing: 0.1em;
        font-weight: 300;
        font-size: 15pt;
        line-height: 2em;
        text-align: justify;  
    }

/* Logo */

    .logo {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 30px 0 20px 0;
    }

    .logo img {
        height: 135px;
    }

/* First Section */

    .first-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .first-section > div {
        margin: 10px;
    }

    .first-section-text {
        flex-basis: 59%;
        background-color: #c9dae9;
        padding: 27px 55px 0 55px;
    }

    .first-section-bear {
        flex-basis: 28%;
    }

    .first-section-bear img {
        width: 100%;
        height: 100%;
    }

/* Second Section */

    .second-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 920px;
    }

    .second-section > div {
        margin: 10px;
        
    }

    .second-section-text {
        flex-basis: 29%;
        background-color: #f9eeac;
        padding: 32px 47px 30px 47px;
        z-index: 1;
        position: relative;
        top: -200px;
        height: 600px;
    }

    .second-section-bear {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 29%;
        z-index: 2;
    }

    .second-section-bear img {
        width: 65%;
        height: 65%;
    }

    .second-section-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 29%;
        padding-top: 30px;
    }

    .second-section-icon img {
        position: center;
    }

    .icon1 img{
        width: 25%;
        height: 25%;
        position: center;
    }

    .icon2 img{
        width: 32%;
        height: 35%;
    }

    .icon3 img{
        width: 30%;
        height: 29%;
    }

    .moving {
        position: relative;
        animation-timing-function: ease-in-out ;
        animation: moveup 10s;
        animation-fill-mode: forwards;
    }

    @keyframes moveup {
        from {top: 130px;}
        to {top: 0px;}
    }
    

/* Third Section */

    .third-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding-bottom: 50px;
    }

    .third-section > div {
        margin: 10px;
    }

    .third-section-text {
        flex-basis: 89%;
        background-color: #c9dae9;
        padding: 37px 55px 45px 55px;
    }

    form > .template {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: #696969;
        letter-spacing: 0.07em;
    }

    form > .template > .field {     
        width: 100%;
        padding: 1em 0em 0em 0em;       
    }

    form > .template > .field.half1 {
        width: 50%;
        padding-right: 10px;
    }

    form > .template > .field.half2 {
        width: 50%;
        padding-left: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 0.2em 0em 0.2em 1em;
        font: inherit;
        font-size: 14pt;
        letter-spacing: 0.07em;
        display: block;
        border: solid 2px #a8acc0;
    }

    textarea {
        height: 7em;
    }

    input[type="radio"],
    label {
        font-size: 14pt;
        color: #696969;
        letter-spacing: 0.07em;
        margin-top: 0em;
        margin-bottom: 0em;
    }

    input[type="submit"],
    .button,
    button {
        font-family: "Trebuchet MS";
        padding: 0.5em 2em 0.5em 2em;
        background-color: #97b8d1;
        font-size: 14pt;
        cursor: pointer;
        margin-left: 41%;
        margin-top: 1.5em;
        display: inline-block;
        text-align: center;
        letter-spacing: 0.2em;
    }

    input[type="submit"]:hover,
    .button:hover,
    button:hover {
        opacity: 0.8;
    }

